<form [formGroup]="tarefaForm" (ngSubmit)="inserir()">
    <p>
      Titulo: <input type="text" formControlName="titulo" />
    </p>
    <p>
      Descricao: <input type="text" formControlName="descricao" />
    </p>
    <p>
        DataVencimento: <input type="text" formControlName="dataVencimento"/>
    </p>
    <button type="submit">Enviar</button>
  
  </form>
  
  
  <h2>listar </h2>
  <ul>
    @for (item of tarefas; track $index){
       <li> {{item.titulo}} - {{item.descricao}} - {{item.dataVencimento}}  
        <input type="button" value="remover" (click)="remover(item.titulo)">
       </li>
    }
  </ul>
  